<header>
  <mat-toolbar color="primary">
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn">Log Out</button>
  </mat-toolbar>
</header>
<main>
  <mat-sidenav-container color="primary">
    <mat-sidenav mode="side" opened>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Users
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="link.path" *ngFor="let link of userLinks">
              {{link.label}}
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Competences
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item *ngFor="let link of competencesLinks" [routerLink]="link.path">
            {{link.label}}
          </a>
          
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-sidenav>
    <mat-sidenav-content class="main">
      <!--MAIN CONTENT-->
      <router-outlet></router-outlet>
      <!---->
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
<footer>
  <mat-toolbar color="primary">
  </mat-toolbar>
</footer>