<mat-card>
  <mat-card-header>
    <mat-card-title>Level Matrix</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-select placeholder="Position" [(ngModel)]="selectedPosition" (change)="selectPosition()">
        <mat-option *ngFor="let position of allPositions" [value]="position">
          {{ position.positionName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <table>
      <thead>
        <tr>
          <td></td>
          <td *ngFor="let level of allLevels">
            {{ level.levelName }}
          </td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let group of dataSource">
          <tr>
            <td attr.colspan="{{allLevels.length + 1}}">
              {{ group.competenceGroup.competenceGroupName }}
              <button mat-raised-button color="warn" (click)="deleteCompetenceGroup(group.competenceGroup._id)">Delete</button>
            </td>
          </tr>
          <tr *ngFor="let competence of group.competences">
            <td>{{ competence.competence.competenceName }}</td>
            <td *ngFor="let req of competence.requirements">
              <!--<input type="number" min="0" max="4" [value]="req.mark">-->
              <app-dblCkickInput [levelRequirement]="req"></app-dblCkickInput>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <mat-form-field>
      <mat-select placeholder="Add Competecne Group" [(ngModel)]="selectedCompetenceGroup">
        <mat-option *ngFor="let group of additionalCompetenceGroups" [value]="group">
          {{ group.competenceGroupName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addCompetenceGroup()">Add</button>
    <button mat-raised-button color="primary" (click)="deleteCompetenceGroup(selectedCompetenceGroup._Id)">Delete</button>
    <button mat-raised-button color="accent" (click)="saveCompetenceLevelRequirements()">Save</button>
  </mat-card-content>
</mat-card>